# Web Framework & Server
fastapi
uvicorn[standard]

# Database & ORM
sqlalchemy
asyncpg
psycopg2-binary
greenlet
alembic

# Configuration
python-dotenv
pydantic_settings

# Authentication & Security
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
google-auth==2.48.0

# Validation
email-validator
pydantic[email]
cloudinary

# Video Call
httpx